body{
    font-family: 'Lucida Sans', sans-serif;
    color: #008cff;
    background-color:white;
    margin: 0;
}

main {
    max-width: 720px;
    margin: 40px auto;
    padding: 24px;
    background-color: white;
}

h1,h2{
    color: rgb(0, 67, 145);
}

img {
    max-width: 100%;
}